@page
@model MeuPonto.Pages.Pontos.ExcluirModel

@{
    ViewData["Title"] = "Excluir Ponto";
}

@section Breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index"><i class="bi bi-house"></i></a></li>
            <li class="breadcrumb-item"><a asp-page="./Index">Pontos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Excluir</li>
        </ol>
    </nav>
}

@section Title {
    @ViewData["Title"] <span class="badge bg-secondary">@Html.DisplayFor(model => model.Ponto.DataHora)</span>
}

@section CardHeader {
    <ul class="nav nav-tabs card-header-tabs">
        <li class="me-1">
            <div class="btn-group">
                <a class="btn btn-primary" asp-page="./Criar" target="_modal">
                    <i class="bi bi-plus-circle"></i>
                    Criar Novo
                </a>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item marcacao ponto" asp-page="./Marcar" target="_modal">
                            <i class="bi bi-check2-circle"></i>
                            Marcar Ponto
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="./Detalhar" asp-route-id="@Model.Ponto?.Id">
                <i class="bi bi-card-text"></i>
                <span class="d-none d-sm-inline">Detalhar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="./Editar" asp-route-id="@Model.Ponto?.Id" target="_modal">
                <i class="bi bi-pencil"></i>
                <span class="d-none d-sm-inline">Editar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger active" aria-current="page">
                <i class="bi bi-trash"></i>
                Excluir
            </a>
        </li>
    </ul>
}

<div class="alert alert-danger" role="alert">
    Tem certeza que deseja excluir isso?
</div>
<dl class="row g-3 Ponto">
    <dt class="col-sm-3 Contrato">
        @Html.DisplayNameFor(model => model.Ponto.Contrato)
    </dt>
    <dd class="col-sm-9 Contrato">
        <a class="text-decoration-none" asp-page="/Contratos/Detalhar" asp-route-id="@Model.Ponto.ContratoId" title="Detalhar Contrato" target="_blank">
            @Html.DisplayFor(model => model.Ponto.Contrato.Nome)
            <i class="bi bi-link-45deg"></i>
        </a>
    </dd>
    <dt class="col-sm-3 DataHora">
        @Html.DisplayNameFor(model => model.Ponto.DataHora)
    </dt>
    <dd class="col-sm-9 DataHora">
        @Html.DisplayFor(model => model.Ponto.DataHora)
    </dd>
    <dt class="col-sm-3 Momento">
        @Html.DisplayNameFor(model => model.Ponto.MomentoId)
    </dt>
    <dd class="col-sm-9 Momento">
        @Html.DisplayFor(model => model.Ponto.MomentoId)
        <input asp-for="Ponto.MomentoId" type="hidden" />
    </dd>
    <dt class="col-sm-3 Pausa">
        @Html.DisplayNameFor(model => model.Ponto.PausaId)
    </dt>
    <dd class="col-sm-9 Pausa">
        @Html.DisplayFor(model => model.Ponto.PausaId)
        <input asp-for="Ponto.PausaId" type="hidden" />
    </dd>
    <dt class="col-sm-3 Estimado">
        @Html.DisplayNameFor(model => model.Ponto.Estimado)
    </dt>
    <dd class="col-sm-9 Estimado">
        @Html.DisplayFor(model => model.Ponto.Estimado)
    </dd>
    <dt class="col-sm-3 Observacao">
        @Html.DisplayNameFor(model => model.Ponto.Observacao)
    </dt>
    <dd class="col-sm-9 Observacao">@Html.DisplayFor(model => model.Ponto.Observacao)</dd>
</dl>
<div class="accordion mb-3" id="accordionDetalhes">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDetalhesTecnicos" aria-expanded="false" aria-controls="collapseDetalhesTecnicos">
                Detalhes Técnicos
            </button>
        </h2>
        <div id="collapseDetalhesTecnicos" class="accordion-collapse collapse" data-bs-parent="#accordionDetalhes">
            <div class="accordion-body">
                <dl class="row g-3">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Ponto.Id)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Ponto.Id)
                    </dd>
                    @*<dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Ponto.PartitionKey)
                    </dt>
                    <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Ponto.PartitionKey)
                    </dd>*@
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Ponto.CreationDate)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Ponto.CreationDate)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Ponto.Version)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Ponto.Version)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

@section FormActions {
    <input type="hidden" asp-for="Ponto.Id" />
    <input type="hidden" asp-for="RefererUrl" />
    <button type="submit" value="Excluir" class="btn btn-danger">
        Excluir
    </button>
}
