@page
@model MeuPonto.Pages.Pontos.IndexModel

@{
    ViewData["Title"] = "Registro de Pontos";
}

@section Breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index"><i class="bi bi-house"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Pontos</li>
        </ol>
    </nav>
}

@section Title {
    @ViewData["Title"]
}

@if (User.Identity?.IsAuthenticated == true)
{
    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
            <a class="btn btn-primary" asp-page="./Criar" target="_modal">
                <i class="bi bi-plus-circle"></i>
                Criar Novo
            </a>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item Marcacao Ponto" asp-page="./Marcar" target="_modal">
                        <i class="bi bi-check2-circle"></i>
                        Marcar Ponto
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-group" role="group" aria-label="Second group">
            <a class="btn btn-outline-secondary" asp-page="./Folhas/Index">Folhas</a>
            <a class="btn btn-outline-secondary" asp-page="./Comprovantes/Index">Comprovantes</a>
        </div>
    </div>

    <form class="table-responsive text-nowrap" method="get">
        <table class="table table-striped align-middle mb-3 Pontos">
            <thead>
                <tr>
                    <th scope="col">Ações</th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Pontos[0].Perfil)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Pontos[0].DataHora)
                        <i class="bi bi-sort-down"></i>
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Pontos[0].MomentoId)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Pontos[0].PausaId)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Pontos[0].Estimado)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Pontos[0].Observacao)
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="btn-group" role="group">
                            <button type="submit" value="Filtrar" class="btn btn-secondary">
                                <i class="bi bi-funnel"></i>
                                Filtrar
                            </button>
                            <a class="btn btn-warning" asp-page="./Index">
                                <i class="bi bi-x-circle"></i>
                            </a>
                        </div>
                    </th>
                    <th>
                        <select asp-for="PerfilId" class="form-select" asp-items="ViewBag.PerfilId"></select>
                    </th>
                    <th>
                        <input asp-for="DataHora" class="form-control" />
                    </th>
                    <th>
                        <select asp-for="Momento" class="form-select" asp-items="Html.GetEnumSelectListWithEmptyValue<MomentoEnum>()"></select>
                    </th>
                    <th>
                        <select asp-for="Pausa" class="form-select" asp-items="Html.GetEnumSelectListWithEmptyValue<PausaEnum>()"></select>
                    </th>
                    <th>
                        <select asp-for="Estimado" class="form-select">
                            <option value=""></option>
                            <option value="true">Sim</option>
                            <option value="false">Não</option>
                        </select>
                    </th>
                    <th>
                        <input asp-for="Observacao" class="form-control" />
                    </th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var item in Model.Pontos)
                {
                    <tr>
                        <td class="p-1" scope="row">
                            <div class="btn-group" role="group">
                                <a class="btn btn-link rounded-0" asp-page="./Detalhar" asp-route-id="@item.Id" title="Detalhar">
                                    <i class="bi bi-card-text"></i>
                                </a>
                                <a class="btn btn-link Edicao" asp-page="./Editar" asp-route-id="@item.Id" title="Editar" target="_modal">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a class="btn btn-link text-danger rounded-0 Exclusao" asp-page="./Excluir" asp-route-id="@item.Id" title="Excluir" target="_modal">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <a class="text-decoration-none" asp-page="/Perfis/Detalhar" asp-route-id="@item.PerfilId" title="Detalhar" target="_blank">
                                @Html.DisplayFor(modelItem => item.Perfil.Nome)
                                <i class="bi bi-link-45deg"></i>
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataHora)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MomentoId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PausaId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estimado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observacao)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <partial name="_Pagination" model="Model.Pagination" />
    </form>
}
else
{
    <partial name="_Features" />
}
