@page
@model MeuPonto.Pages.Pontos.Folhas.IndexModel

@{
    ViewData["Title"] = "Gestão de Folha";
}

@section Breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index"><i class="bi bi-house"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Folhas</li>
        </ol>
    </nav>
}

@section Title {
    @ViewData["Title"]
}

<div class="btn-toolbar mb-3 justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
        <a class="btn btn-primary" asp-page="./Criar" target="_modal">
            <i class="bi bi-plus-circle"></i>
            Criar Nova
        </a>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item Abertura Folha" asp-page="./Abrir" target="_modal">
                    <i class="bi bi-file-earmark-plus"></i>
                    Abrir Folha
                </a>
            </li>
        </ul>
    </div>
    <a class="btn btn-secondary" asp-page="./Relatorio">
        <i class="bi bi-journal-richtext"></i>
        Relatório
    </a>
</div>

<form class="table-responsive text-nowrap" method="get">
    <table class="table table-striped align-middle mb-3 Folhas">
        <thead>
            <tr>
                <th rowspan="4">Ações</th>
                <th rowspan="4">
                    @Html.DisplayNameFor(model => model.Folhas[0].Contrato)
                </th>
                <th rowspan="4">
                    @Html.DisplayNameFor(model => model.Folhas[0].Competencia)
                    <i class="bi bi-sort-down"></i>
                </th>
                <th rowspan="4">
                    @Html.DisplayNameFor(model => model.Folhas[0].StatusId)
                </th>
                <th rowspan="4">
                    @Html.DisplayNameFor(model => model.Folhas[0].Observacao)
                </th>
                <th colspan="191">
                    @Html.DisplayNameFor(model => model.Folhas[0].ApuracaoMensal)
                </th>
            </tr>
            <tr>
                <th colspan="186">
                    @Html.DisplayNameFor(model => model.Folhas[0].ApuracaoMensal.Dias)
                </th>
                <th rowspan="3">
                    @Html.DisplayNameFor(model => model.Folhas[0].ApuracaoMensal.TotalDias)
                </th>
                <th rowspan="3">
                    @Html.DisplayNameFor(model => model.Folhas[0].ApuracaoMensal.TempoTotalPrevisto)
                </th>
                <th rowspan="3">
                    @Html.DisplayNameFor(model => model.Folhas[0].ApuracaoMensal.TempoTotalApurado)
                </th>
                <th rowspan="3">
                    @Html.DisplayNameFor(model => model.Folhas[0].ApuracaoMensal.DiferencaTempoTotal)
                </th>
                <th rowspan="3">
                    @Html.DisplayNameFor(model => model.Folhas[0].ApuracaoMensal.TempoTotalPeriodoAnterior)
                </th>
            </tr>
            <tr>
                @for (int i = 0; i < 31; i++)
                {
                    <th colspan="6">
                        Dia @(i + 1)
                    </th>
                }
            </tr>
            <tr>
                @for (int i = 0; i < 31; i++)
                {
                    <th>
                        Previsto
                    </th>
                    <th>
                        Apurado
                    </th>
                    <th class="text-primary">
                        Diferença
                    </th>
                    <th>
                        Abonado
                    </th>
                    <th>
                        Feriado?
                    </th>
                    <th>
                        Falta?
                    </th>
                }
            </tr>
            <tr>
                <th>
                    <div class="btn-group" role="group">
                        <button type="submit" value="Filtrar" class="btn btn-secondary">
                            <i class="bi bi-funnel"></i>
                            Filtrar
                        </button>
                        <a class="btn btn-warning" asp-page="./Index">
                            <i class="bi bi-x-circle"></i>
                        </a>
                    </div>
                </th>
                <th>
                    <select asp-for="ContratoId" class="form-select" asp-items="ViewBag.ContratoId"></select>
                </th>
                <th>
                    <input asp-for="Competencia" class="form-control" />
                </th>
                <th>
                    <select asp-for="Status" class="form-select" asp-items="Html.GetEnumSelectListWithEmptyValue<StatusFolhaEnum>()"></select>
                </th>
                <th>
                    <input asp-for="Observacao" class="form-control" />
                </th>
                <th class="table-secondary" colspan="191">

                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in Model.Folhas)
            {
                <tr data-id="@item.Id" data-name="@item.Competencia.Value.ToString("yyyy-MM")">
                    <td class="p-1">
                        <div class="btn-group" role="group">
                            <a class="btn btn-link rounded-0" asp-page="./Detalhar" asp-route-id="@item.Id" title="Detalhar">
                                <i class="bi bi-card-text"></i>
                            </a>
                            <a class="btn btn-link Edicao" asp-page="./Editar" asp-route-id="@item.Id" title="Editar" target="_modal">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a class="btn btn-link text-danger Exclusao" asp-page="./Excluir" asp-route-id="@item.Id" title="Excluir" target="_modal">
                                <i class="bi bi-trash"></i>
                            </a>
                            <a class="btn btn-link rounded-0 Fechamento" asp-page="./Fechar" asp-route-id="@item.Id" title="Fechar" target="_modal">
                                <i class="bi bi-file-earmark-check"></i>
                            </a>
                        </div>
                    </td>
                    <td>
                        <a class="text-decoration-none" asp-page="/Contratos/Detalhar" asp-route-id="@item.ContratoId" title="Detalhar Contrato" target="_blank">
                            @Html.DisplayFor(modelItem => item.Contrato.Nome)
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Competencia)
                    </td>
                    <td>
                        <span class="badge fs-6 @(item.StatusId == StatusFolhaEnum.Aberta ? "text-bg-warning" : "text-bg-success")">
                            @Html.DisplayFor(modelItem => item.StatusId)
                            <i class="bi @(item.StatusId == StatusFolhaEnum.Aberta ? "bi-file-earmark-fill" : "bi-file-earmark-lock-fill")"></i>
                        </span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observacao)
                    </td>
                    @for (int i = 0; i < item.ApuracaoMensal.TotalDias; i++)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.ApuracaoMensal.Dias[i].TempoPrevisto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApuracaoMensal.Dias[i].TempoApurado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApuracaoMensal.Dias[i].DiferencaTempo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApuracaoMensal.Dias[i].TempoAbonado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApuracaoMensal.Dias[i].Feriado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApuracaoMensal.Dias[i].Falta)
                        </td>
                    }
                    @if (item.ApuracaoMensal.TotalDias < 31)
                    {
                        <td class="table-secondary" colspan="@((31 - item.ApuracaoMensal.TotalDias) * 6)">
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.ApuracaoMensal.TotalDias)
                    </td>
                    <td>
                        @String.Format(new TimeSpanFormatter(), "{0:hhh\\:mm}", item.ApuracaoMensal.TempoTotalPrevisto)
                    </td>
                    <td>
                        @String.Format(new TimeSpanFormatter(), "{0:hhh\\:mm}", item.ApuracaoMensal.TempoTotalApurado)
                    </td>
                    <td>
                        @String.Format(new TimeSpanFormatter(), "{0:hhh\\:mm}", item.ApuracaoMensal.DiferencaTempoTotal)
                    </td>
                    <td>
                        @String.Format(new TimeSpanFormatter(), "{0:hhh\\:mm}", item.ApuracaoMensal.TempoTotalPeriodoAnterior)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_Pagination" model="Model.Pagination" />
</form>