@model IEnumerable<MeuPonto.Models.Perfil>

@{
    ViewData["Title"] = "Perfis";
}

<h1>Perfis</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa.InscricaoEstadual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.Cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.InscricaoEstadual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
