@page
using System.ComponentModel;
@using Billing.Models;
@using Billing.Models;

@model MeuPonto.Pages.Trabalhadores.IndexModel

@{
    ViewData["Title"] = "Cadastro de Trabalhadores";
}

@section Breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index"><i class="bi bi-house"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Trabalhadores</li>
        </ol>
    </nav>
}

@section Title {
    @ViewData["Title"]
}

<form class="table-responsive text-nowrap" method="get">
    <table class="table table-striped align-middle mb-3 Trabalhadores">
        <thead>
            <tr>
                <th rowspan="2">Ações</th>
                <th rowspan="2">
                    @Html.DisplayNameFor(model => model.Trabalhadores[0].Id)
                </th>
                <th rowspan="2">
                    @Html.DisplayNameFor(model => model.Trabalhadores[0].CreationDate)
                    <i class="bi bi-sort-down"></i>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trabalhadores[0].CustomerSubscription)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Trabalhadores[0].CustomerSubscription.SubscriptionPlanId)
                </th>
            </tr>
            <tr>
                <th>
                    <div class="btn-group" role="group">
                        <button type="submit" value="Filtrar" class="btn btn-secondary">
                            <i class="bi bi-funnel"></i>
                            Filtrar
                        </button>
                        <a class="btn btn-warning" asp-page="./Index">
                            <i class="bi bi-x-circle"></i>
                        </a>
                    </div>

                </th>
                <th>
                    <input asp-for="Id" class="form-control" />
                </th>
                <td class="table-secondary"></td>
                <th>
                    <select asp-for="CustomerSubscription.SubscriptionPlanId" class="form-select" asp-items="Html.GetEnumSelectListWithEmptyValue<SubscriptionPlanEnum>()"></select>
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in Model.Trabalhadores)
            {
                <tr data-id="@item.Id" data-name="@item.Id">
                    <td class="p-1" scope="row">
                        <div class="btn-group me-2" role="group">
                            <a class="btn btn-link rounded-0" asp-page="/Configuracoes" asp-route-id="@item.Id" title="Configurar">
                                <i class="bi bi-gear"></i>
                            </a>
                            <a class="btn btn-link Detalhe" asp-page="./Detalhar" asp-route-id="@item.Id" title="Detalhar">
                                <i class="bi bi-card-text"></i>
                            </a>
                            <a class="btn btn-link Edicao" asp-page="./Editar" asp-route-id="@item.Id" title="Editar" target="_modal">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerSubscription.SubscriptionPlanId)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_Pagination" model="Model.Pagination" />
</form>
