@page
@model MeuPonto.Pages.Contratos.ExcluirModel

@{
    ViewData["Title"] = "Excluir Contrato";
}

@section Breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index"><i class="bi bi-house"></i></a></li>
            <li class="breadcrumb-item"><a asp-page="./Index">Contratos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Excluir</li>
        </ol>
    </nav>
}

@section Title {
    @ViewData["Title"] <span class="badge bg-secondary">@Html.DisplayFor(model => model.ExclusaoContrato.Nome)</span>
}

@section CardHeader {
    <ul class="nav nav-tabs card-header-tabs">
        <li class="me-1">
            <a class="btn btn-primary" asp-page="./Criar" target="_modal">
                <i class="bi bi-plus-circle"></i>
                Criar Novo
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="./Detalhar" asp-route-id="@Model.ExclusaoContrato?.Id">
                <i class="bi bi-card-text"></i>
                <span class="d-none d-sm-inline">Detalhar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="./Editar" asp-route-id="@Model.ExclusaoContrato?.Id" target="_modal">
                <i class="bi bi-pencil"></i>
                <span class="d-none d-sm-inline">Editar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger active" aria-current="page">
                <i class="bi bi-trash"></i>
                Excluir
            </a>
        </li>
    </ul>
}

<div class="alert alert-danger" role="alert">
    Tem certeza que deseja excluir isso?
</div>
<dl class="row g-3 Contrato">
    <dt class="col-sm-3 Nome">
        @Html.DisplayNameFor(model => model.ExclusaoContrato.Nome)
    </dt>
    <dd class="col-sm-9 Nome">
        @Html.DisplayFor(model => model.ExclusaoContrato.Nome)
    </dd>
    <dt class="col-sm-3 Ativo">
        @Html.DisplayNameFor(model => model.ExclusaoContrato.Ativo)
    </dt>
    <dd class="col-sm-9 Ativo">
        @Html.DisplayFor(model => model.ExclusaoContrato.Ativo)
    </dd>
    <dt class="col-sm-3 Empregador">
        @Html.DisplayNameFor(model => model.ExclusaoContrato.Empregador)
    </dt>
    <dd class="col-sm-9 Empregador">
        @if (Model.ExclusaoContrato.Empregador != null)
        {
            <a class="text-decoration-none" asp-page="/Contratos/Empregadores/Detalhar" asp-route-id="@Model.ExclusaoContrato.EmpregadorId" title="Detalhar Empregador" target="_blank">
                @Html.DisplayFor(model => model.ExclusaoContrato.Empregador.Nome)
                <i class="bi bi-link-45deg"></i>
            </a>
        }
    </dd>
</dl>
<div class="accordion mb-3" id="accordionDetalhes">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDetalhesTecnicos" aria-expanded="false" aria-controls="collapseDetalhesTecnicos">
                Detalhes Técnicos
            </button>
        </h2>
        <div id="collapseDetalhesTecnicos" class="accordion-collapse collapse" data-bs-parent="#accordionDetalhes">
            <div class="accordion-body">
                <dl class="row g-3">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ExclusaoContrato.Id)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ExclusaoContrato.Id)
                    </dd>
                    @*<dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Contrato.PartitionKey)
                    </dt>
                    <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Contrato.PartitionKey)
                    </dd>*@
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ExclusaoContrato.CreationDate)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ExclusaoContrato.CreationDate)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ExclusaoContrato.Version)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ExclusaoContrato.Version)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

@section FormActions {
    <input type="hidden" asp-for="ExclusaoContrato.Id" />
    <input type="hidden" asp-for="RefererUrl" />
    <button type="submit" value="Excluir" class="btn btn-danger">
        Excluir
    </button>
}
