@page
@model MeuPonto.Pages.Pontos.Comprovantes.CriarModel

@{
    ViewData["Title"] = "Criar Comprovante de Ponto";

    ViewData["Enctype"] = "multipart/form-data";
}

@section Breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index"><i class="bi bi-house"></i></a></li>
            <li class="breadcrumb-item"><a asp-page="/Pontos/Index">Pontos</a></li>
            <li class="breadcrumb-item"><a asp-page="./Index">Comprovantes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Criar</li>
        </ol>
    </nav>
}

@section Title {
    @ViewData["Title"] <span class="badge bg-secondary">Novo</span>
}

@section CardHeader {
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page">
                <i class="bi bi-plus-circle"></i>
                Criar Novo
            </a>
        </li>
    </ul>
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="card mb-3">
    <div class="card-header">
        @Html.DisplayNameFor(model => model.Comprovante.Ponto)
    </div>
    <div class="card-body">
        <dl class="row g-3 Ponto">
            <dt class="col-sm-3 Contrato">
                @Html.DisplayNameFor(model => model.Comprovante.Ponto.Contrato)
            </dt>
            <dd class="col-sm-9 Contrato">
                <a class="text-decoration-none" asp-page="/Contratos/Detalhar" asp-route-id="@Model.Comprovante.Ponto?.ContratoId" title="Detalhar Contrato" target="_blank">
                    @Html.DisplayFor(model => model.Comprovante.Ponto.Contrato.Nome)
                    <i class="bi bi-link-45deg"></i>
                </a>
            </dd>
            <dt class="col-sm-3 DataHora">
                @Html.DisplayNameFor(model => model.Comprovante.Ponto.DataHora)
            </dt>
            <dd class="col-sm-9 DataHora">
                <a class="text-decoration-none" asp-page="/Pontos/Detalhar" asp-route-id="@Model.Comprovante.PontoId" title="Detalhar Ponto" target="_blank">
                    @Html.DisplayFor(model => model.Comprovante.Ponto.DataHora)
                    <i class="bi bi-link-45deg"></i>
                </a>
            </dd>
            <dt class="col-sm-3 Momento">
                @Html.DisplayNameFor(model => model.Comprovante.Ponto.MomentoId)
            </dt>
            <dd class="col-sm-9 Momento">
                @Html.DisplayFor(model => model.Comprovante.Ponto.MomentoId)
            </dd>
            <dt class="col-sm-3 Pausa">
                @Html.DisplayNameFor(model => model.Comprovante.Ponto.PausaId)
            </dt>
            <dd class="col-sm-9 Pausa">
                @Html.DisplayFor(model => model.Comprovante.Ponto.PausaId)
            </dd>
        </dl>
        <button type="submit" value="Procurar" class="btn btn-secondary">
            <i class="bi bi-binoculars"></i>
            Procurar
        </button>
    </div>
</div>
<div class="row mb-3">
    <label asp-for="Imagem" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="Imagem" class="form-control" />
        <span asp-validation-for="Imagem" class="text-danger"></span>
    </div>
</div>
<div class="row mb-3">
    <label asp-for="Comprovante.TipoImagemId" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <select asp-for="Comprovante.TipoImagemId" class="form-select" asp-items="Html.GetEnumSelectList<TipoImagemEnum>()"></select>
        <span asp-validation-for="Comprovante.TipoImagemId" class="text-danger"></span>
    </div>
</div>

@section FormActions {
    <input type="hidden" asp-for="RefererUrl" />
    <button type="submit" value="Salvar" class="btn btn-primary">
        Salvar
    </button>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
