@page
@model MeuPonto.Pages.Pontos.Comprovantes.DetalharModel

@{
    ViewData["Title"] = "Detalhar Comprovante de Ponto";
}

@section Breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index"><i class="bi bi-house"></i></a></li>
            <li class="breadcrumb-item"><a asp-page="/Pontos/Index">Pontos</a></li>
            <li class="breadcrumb-item"><a asp-page="./Index">Comprovantes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalhar</li>
        </ol>
    </nav>
}

@section Title {
    @ViewData["Title"] <span class="badge bg-secondary">@Html.DisplayFor(model => model.Comprovante.TipoImagemId)</span>
}

@section CardHeader {
    <ul class="nav nav-tabs card-header-tabs">
        <li class="me-1">
            <div class="btn-group">
                <a class="btn btn-primary Modal" asp-page="./Criar" target="_modal">
                    <i class="bi bi-plus-circle"></i>
                    Criar Novo
                </a>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" asp-page="./Guardar" target="_modal">
                            <i class="bi bi-qr-code"></i>
                            Guardar Comprovante
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page">
                <i class="bi bi-card-text"></i>
                Detalhar
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link Modal" asp-page="./Editar" asp-route-id="@Model.Comprovante?.Id" target="_modal">
                <i class="bi bi-pencil"></i>
                <span class="d-none d-sm-inline">Editar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" asp-page="./Excluir" asp-route-id="@Model.Comprovante?.Id" target="_modal">
                <i class="bi bi-trash"></i>
                <span class="d-none d-sm-inline">Excluir</span>
            </a>
        </li>
    </ul>
}

<div class="card mb-3">
    <div class="card-header">
        @Html.DisplayNameFor(model => model.Comprovante.Ponto)
    </div>
    <div class="card-body">
        <dl class="row g-3 Ponto">
            <dt class="col-sm-3 Contrato">
                @Html.DisplayNameFor(model => model.Comprovante.Ponto.Contrato)
            </dt>
            <dd class="col-sm-9 Contrato">
                <a class="text-decoration-none" asp-page="/Contratos/Detalhar" asp-route-id="@Model.Comprovante.Ponto.ContratoId" title="Detalhar Contrato" target="_blank">
                    @Html.DisplayFor(model => model.Comprovante.Ponto.Contrato.Nome)
                    <i class="bi bi-link-45deg"></i>
                </a>
            </dd>
            <dt class="col-sm-3 DataHora">
                @Html.DisplayNameFor(model => model.Comprovante.Ponto.DataHora)
            </dt>
            <dd class="col-sm-9 DataHora">
                <a class="text-decoration-none" asp-page="/Pontos/Detalhar" asp-route-id="@Model.Comprovante.PontoId" title="Detalhar Ponto" target="_blank">
                    @Html.DisplayFor(model => model.Comprovante.Ponto.DataHora)
                    <i class="bi bi-link-45deg"></i>
                </a>
            </dd>
            <dt class="col-sm-3 Momento">
                @Html.DisplayNameFor(model => model.Comprovante.Ponto.MomentoId)
            </dt>
            <dd class="col-sm-9 Momento">
                @Html.DisplayFor(model => model.Comprovante.Ponto.MomentoId)
                <input asp-for="Comprovante.Ponto.MomentoId" type="hidden" />
            </dd>
            <dt class="col-sm-3 Pausa">
                @Html.DisplayNameFor(model => model.Comprovante.Ponto.PausaId)
            </dt>
            <dd class="col-sm-9 Pausa">
                @Html.DisplayFor(model => model.Comprovante.Ponto.PausaId)
                <input asp-for="Comprovante.Ponto.PausaId" type="hidden" />
            </dd>
        </dl>
    </div>
</div>

<dl class="row g-3 Comprovante">
    <dt class="col-sm-3 Imagem">
        @Html.DisplayNameFor(model => model.Comprovante.Imagem)
    </dt>
    <dd class="col-sm-9 Imagem">
        <img src="data:image/png;base64,@Convert.ToBase64String(Model.Comprovante.Imagem)" width="100%" />
    </dd>
    <dt class="col-sm-3 TipoImagem">
        @Html.DisplayNameFor(model => model.Comprovante.TipoImagemId)
    </dt>
    <dd class="col-sm-9 TipoImagem">
        @Html.DisplayFor(model => model.Comprovante.TipoImagemId)
    </dd>
</dl>
<div class="accordion" id="accordionDetalhes">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDetalhesTecnicos" aria-expanded="false" aria-controls="collapseDetalhesTecnicos">
                Detalhes Técnicos
            </button>
        </h2>
        <div id="collapseDetalhesTecnicos" class="accordion-collapse collapse" data-bs-parent="#accordionDetalhes">
            <div class="accordion-body">
                <dl class="row g-3">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Comprovante.Id)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Comprovante.Id)
                    </dd>
                    @*<dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Comprovante.PartitionKey)
                    </dt>
                    <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Comprovante.PartitionKey)
                    </dd>*@
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Comprovante.CreationDate)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Comprovante.CreationDate)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Comprovante.Version)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Comprovante.Version)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
