@page
@model MeuPonto.Modules.Trabalhadores.IndexModel

@{
    ViewData["Title"] = "Cadastro de Trabalhadores";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Index"><i class="bi bi-house"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Trabalhadores</li>
    </ol>
</nav>

<h1>@ViewData["Title"]</h1>

<form class="table-responsive text-nowrap" method="get">
    <table class="table table-striped align-middle mb-3 Trabalhadores">
        <thead class="table-light">
            <tr>
                <th>Ações</th>
                <th>
                    @Html.DisplayNameFor(model => model.Trabalhadores[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trabalhadores[0].CreationDate)
                    <i class="bi bi-sort-down"></i>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="btn-group" role="group">
                        <button type="submit" value="Filtrar" class="btn btn-secondary">
                            <i class="bi bi-funnel"></i>
                            Filtrar
                        </button>
                        <a class="btn btn-warning" asp-page="./Index">
                            <i class="bi bi-x-circle"></i>
                        </a>
                    </div>

                </th>
                <th>
                    <input asp-for="Id" class="form-control" />
                </th>
                <td class="table-secondary"></td>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in Model.Trabalhadores)
            {
                <tr data-id="@item.Id" data-name="@item.Id">
                    <td class="p-1" scope="row">
                        <div class="btn-group" role="group">
                            <a class="btn btn-link rounded-0" asp-page="/Configuracoes" asp-route-id="@item.Id">
                                <i class="bi bi-gear"></i>
                            </a>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_Pagination" model="Model.Pagination" />
</form>