@using MeuPonto.Extensions
@using MeuPonto.Modules.Billing
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"] == "Home" ? null : $"{ViewData["Title"]} - ")Meu Ponto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MeuPonto.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark fixed-top border-bottom shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/img/logo-32-32-dark.png" width="32" height="32" alt="Logo" />
                    Meu Ponto
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
                    {
                        <span class="badge text-bg-secondary rounded-pill">Admin</span>
                    }
                    else if (User.Identity?.IsAuthenticated == true)
                    {
                        switch (User.GetSubscriptionPlanId())
                        {
                            case SubscriptionPlanEnum.Bronze:
                                <span class="badge rounded-pill" style="color: #cd7f32;">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                </span>

                                break;
                            case SubscriptionPlanEnum.Silver:
                                <span class="badge rounded-pill" style="color: #c0c0c0;">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star"></i>
                                </span>

                                break;
                            case SubscriptionPlanEnum.Gold:
                                <span class="badge rounded-pill" style="color: #ffd700;">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </span>

                                break;
                            default:
                                break;
                        }
                    }
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link @Html.ActiveClass("/Folhas")" asp-page="/Folhas/Index">Folhas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @Html.ActiveClass("/Pontos")" asp-page="/Pontos/Index">Pontos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @Html.ActiveClass("/Contratos") Contratos" asp-area="" asp-page="/Contratos/Index">Contratos</a>
                            </li>
                            @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @Html.ActiveClass("/Trabalhadores")" asp-area="" asp-page="/Trabalhadores/Index">Trabalhadores</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span class="navbar-text flex-grow-1">
                            Sistema de controle de ponto para trabalhadores
                        </span>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (User.Identity?.IsAuthenticated == true)
            {
                @await RenderSectionAsync("Breadcrumb", required: false)

                @if (IsSectionDefined("Title"))
                {
                    <h1>
                        @await RenderSectionAsync("Title")
                    </h1>
                }

                @if (TempData.ContainsKey("TextSuccessMessage"))
                {
                    <div class="alert alert-success alert-dismissible fade show d-flex align-items-center mb-3" role="alert">
                        <i class="bi bi-check-circle-fill flex-shrink-0 me-2"></i>
                        <div>
                            @(TempData["TextSuccessMessage"]).
                            @if (TempData.ContainsKey("DetailLinkSuccessMessage"))
                            {
                                <a href="@TempData["DetailLinkSuccessMessage"]" target="_blank">
                                    Detalhar
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                            }
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                @if (IsSectionDefined("FormActions"))
                {
                    <form method="post" enctype="@ViewData["Enctype"]">
                        @if (IsSectionDefined("CardHeader"))
                        {
                            <div class="card">
                                <div class="card-header">
                                    @await RenderSectionAsync("CardHeader")
                                </div>
                                <div class="card-body">
                                    @RenderBody()
                                </div>
                                <div class="card-footer">
                                    @await RenderSectionAsync("FormActions")
                                </div>
                            </div>
                        }
                        else
                        {
                            @RenderBody()

                            @await RenderSectionAsync("FormActions")
                        }
                    </form>
                }
                else
                {
                    @if (IsSectionDefined("CardHeader"))
                    {
                        <div class="card">
                            <div class="card-header">
                                @await RenderSectionAsync("CardHeader")
                            </div>
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    }
                    else
                    {
                        @RenderBody()
                    }
                }
            }
            else
            {
                @await RenderSectionAsync("Breadcrumb", required: false)

                @if (IsSectionDefined("Title"))
                {
                    <h1>
                        @await RenderSectionAsync("Title")
                    </h1>
                }

                @RenderBody()
            }
        </main>
    </div>

    @*<footer class="border-top footer text-muted pt-3">

    </footer>*@

    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a class="nav-link px-2 text-body-secondary" asp-area="" asp-page="/Index">Home</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-body-secondary" asp-area="" asp-page="/Termos">Termos</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-body-secondary" asp-area="" asp-page="/Privacidade">Privacidade</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-body-secondary" asp-area="" asp-page="/Sobre">Sobre</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; 2023 - Meu Ponto</p>
        @if ((await AuthorizationService.AuthorizeAsync(User, "NoAds")).Succeeded == false)
        {
            var random = new Random();

            var anuncioId = random.Next(3) + 1;

            <div class="navbar navbar-light text-bg-light fixed-bottom border-top">
                @switch (anuncioId)
                {
                    case 1:
                        <div class="container justify-content-start">
                            <span class="badge text-bg-secondary me-2">Anúncio</span>
                            <span class="navbar-brand text-bg-light">
                                <img class="img-thumbnail border border-secondary bg-light" src="~/img/shop-32x32.png" width="32" height="32" alt="Shop" />
                                Anuncie aqui
                            </span>
                            <span class="navbar-text text-bg-light flex-grow-1">
                                Seja visto pelos trabalhadores de todo o Brasil
                            </span>
                            <span>
                                <a href="mailto:mardsystems@gmail.com?subject=Quero anunciar no Meu Ponto" target="_blank" class="btn btn-sm btn-outline-primary rounded-pill">
                                    <i class="bi bi-envelope"></i>
                                    Contactar
                                </a>
                            </span>
                        </div>

                        break;

                    case 2:
                        <div class="container justify-content-start">
                            <span class="badge text-bg-secondary me-2">Anúncio</span>
                            <span class="navbar-brand text-bg-light">
                                <img class="img-thumbnail border border-secondary bg-light" src="~/img/marcelo-32x32.png" width="32" height="32" alt="Foto" />
                                Marcelo Dias
                            </span>
                            <span class="navbar-text text-bg-light flex-grow-1">
                                Desenvolvedor .NET Sênior
                            </span>
                            <span>
                                <a href="https://linkedin.com/in/mardsystems" target="_blank" class="btn btn-sm btn-outline-secondary rounded-circle">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                                <a href="https://github.com/mardsystems" target="_blank" class="btn btn-sm btn-outline-secondary rounded-circle">
                                    <i class="bi bi-github"></i>
                                </a>
                                <a href="mailto:mardsystems@gmail.com" target="_blank" class="btn btn-sm btn-outline-primary rounded-pill">
                                    <i class="bi bi-envelope"></i>
                                    Contactar
                                </a>
                            </span>
                        </div>

                        break;

                    case 3:
                        <div class="container justify-content-start">
                            <span class="badge text-bg-secondary me-2">Anúncio</span>
                            <span class="navbar-brand text-bg-light">
                                <img class="img-thumbnail border border-secondary bg-light" src="~/img/ateliex-32x32.png" width="32" height="32" alt="Logo" />
                                Ateliex
                            </span>
                            <span class="navbar-text text-bg-light flex-grow-1">
                                Desenvolvimento de sistemas
                            </span>
                            <span>
                                <a href="https://www.linkedin.com/company/ateliex" target="_blank" class="btn btn-sm btn-outline-secondary rounded-circle">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                                <a href="https://github.com/ateliex" target="_blank" class="btn btn-sm btn-outline-secondary rounded-circle">
                                    <i class="bi bi-github"></i>
                                </a>
                                <a href="https://ateliex.com.br/" target="_blank" class="btn btn-sm btn-outline-primary rounded-pill">
                                    <i class="bi bi-globe2"></i>
                                    Conhecer
                                </a>
                            </span>
                        </div>

                        break;

                    default:
                        break;
                }
            </div>
        }
    </footer>

    <div class="modal" id="formModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Formulário</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-center align-items-center">
                    <div class="spinner-border text-primary" aria-hidden="true"></div>
                    <strong class="my-5 mx-3" role="status">Carregando...</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    @if (ViewData.ShowModal())
    {
        <div class="modal-backdrop fade show"></div>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-theme.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>