@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@*<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><i class="bi bi-house"></i></li>
    </ol>
</nav>

<h1>@ViewData["Title"]</h1>*@

@if (User.Identity?.IsAuthenticated == true)
{
    if (ViewBag.HasPerfil)
    {
        <div class="d-grid col-sm-10 col-md-8 col-lg-6 mx-auto gap-2 mb-3">
            <a class="btn btn-primary btn-lg Marcacao Ponto" asp-page="./Pontos/Marcar" target="_modal">
                <i class="bi bi-check2-circle"></i>
                Marcar Ponto
            </a>
            <a class="btn btn-primary btn-lg" asp-page="/Pontos/Comprovantes/Guardar" target="_modal">
                <i class="bi bi-qr-code"></i>
                Guardar Comprovante de Ponto
            </a>
        </div>

        <form class="row row-cols-md-auto justify-content-md-center g-2 mb-3" method="get">
            <div class="col-12">
                <div class="input-group">
                    <label asp-for="PerfilId" class="input-group-text"></label>
                    <select asp-for="PerfilId" class="form-select" asp-items="ViewBag.PerfilId"></select>
                </div>
            </div>
            <div action="col-12">
                <div class="input-group">
                    <label class="input-group-text">Competência</label>
                    <label asp-for="CompetenciaAno" class="visually-hidden"></label>
                    <input asp-for="CompetenciaAno" class="form-control" placeholder="Ano" />
                    <label asp-for="CompetenciaMes" class="visually-hidden"></label>
                    <select asp-for="CompetenciaMes" class="form-select">
                        <option value="" disabled selected>Mês</option>
                        <option value="1">01 (janeiro)</option>
                        <option value="2">02 (fevereiro)</option>
                        <option value="3">03 (março)</option>
                        <option value="4">04 (abril)</option>
                        <option value="5">05 (maio)</option>
                        <option value="6">06 (junho)</option>
                        <option value="7">07 (julho)</option>
                        <option value="8">08 (agosto)</option>
                        <option value="9">09 (setembro)</option>
                        <option value="10">10 (outubro)</option>
                        <option value="11">11 (novembro)</option>
                        <option value="12">12 (dezembro)</option>
                    </select>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                    Buscar
                </button>
            </div>
        </form>
        @if (Model.Folha == null)
        {
            <div class="alert alert-info" role="alert">
                Use a busca acima para <b>apurar uma folha de ponto</b>.
                Se preferir, você também pode <a class="Abertura Folha" asp-page="/Pontos/Folhas/Abrir" target="_modal">abrir uma folha nova</a>.
            </div>
        }
        else
        {
            <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
                <div class="col">
                    <div class="card folha2">
                        <div class="card-header">
                            Folha de Ponto
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                @Html.DisplayFor(model => model.Folha.Competencia)
                                <span class="badge @(Model.Folha.StatusId == Pontos.Folhas.StatusEnum.Aberta ? "text-bg-warning" : "text-bg-success")"><i class="bi @(Model.Folha.StatusId == Pontos.Folhas.StatusEnum.Aberta ? "bi-file-earmark-fill" : "bi-file-earmark-lock-fill")"></i></span>
                            </h5>
                            @if (Model.Folha.StatusId == Pontos.Folhas.StatusEnum.Aberta)
                            {
                                <p class="card-text">
                                    Esta folha de ponto está <b>aberta</b> e sendo apurada.
                                </p>
                            }
                            else
                            {
                                <p class="card-text">
                                    Esta folha de ponto está <b>fechada</b>.
                                </p>
                            }
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">
                                        Tempo Total Previsto
                                    </div>
                                </div>
                                <span class="badge text-bg-secondary rounded-pill">
                                    @String.Format(new TimeSpanFormatter(), "{0:hhh\\:mm}", Model.ApuracaoMensal.TempoTotalPrevisto)
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">
                                        Tempo Total Apurado
                                    </div>
                                </div>
                                <span class="badge rounded-pill bg-primary tempoTotalApurado">
                                    @String.Format(new TimeSpanFormatter(), "{0:hhh\\:mm}", Model.ApuracaoMensal.TempoTotalApurado)
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">
                                        Diferença Tempo Total
                                    </div>
                                </div>
                                <span class="badge rounded-pill @(Model.ApuracaoMensal.DiferencaTempoTotal >= TimeSpan.Zero ? "bg-success": "bg-danger")">
                                    @String.Format(new TimeSpanFormatter(), "{0:hhh\\:mm}", Model.ApuracaoMensal.DiferencaTempoTotal)
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">
                                        @Html.DisplayNameFor(model => model.Folha.Observacao)
                                    </div>
                                    @Html.DisplayFor(model => model.Folha.Observacao)
                                </div>
                            </li>
                        </ul>
                        <div class="card-body">
                            @if (Model.Folha.StatusId == Pontos.Folhas.StatusEnum.Aberta)
                            {
                                <a class="card-link text-decoration-none" asp-page="/Pontos/Folhas/Fechar" asp-route-id="@Model.Folha.Id" target="_modal">
                                    Fechar
                                    <i class="bi bi-lock"></i>
                                </a>
                            }
                            else
                            {
                                <a class="card-link text-decoration-none" asp-page="/Pontos/Folhas/Reabrir" asp-route-id="@Model.Folha.Id" target="_modal">
                                    Reabrir
                                    <i class="bi bi-unlock"></i>
                                </a>
                            }
                            <a class="card-link text-decoration-none edicao" asp-page="/Pontos/Folhas/Editar" asp-route-id="@Model.Folha.Id" target="_modal">
                                Editar
                                <i class="bi bi-pencil"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card apuracaoMensal">
                        <div class="card-header">
                            @Html.DisplayNameFor(model => model.Folha.ApuracaoMensal)
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">
                                        @Html.DisplayNameFor(model => model.Folha.ApuracaoMensal.TempoTotalApurado)
                                    </div>
                                </div>
                                <span class="badge rounded-pill bg-primary">
                                    @String.Format(new TimeSpanFormatter(), "{0:hhh\\:mm}", Model.Folha.ApuracaoMensal.TempoTotalApurado)
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">
                                        @Html.DisplayNameFor(model => model.Folha.ApuracaoMensal.TempoTotalPeriodoAnterior)
                                    </div>
                                </div>
                                <span class="badge rounded-pill text-bg-light">
                                    @String.Format(new TimeSpanFormatter(), "{0:hhh\\:mm}", Model.Folha.ApuracaoMensal.TempoTotalPeriodoAnterior)
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            @for (int semanaIndex = 0; semanaIndex < Model.ApuracaoMensal.TotalSemanas; semanaIndex++)
            {
                var apuracaoSemanal = Model.ApuracaoMensal.Semanas[semanaIndex];

                <div class="row row-cols-1 row-cols-lg-8 g-1 mb-1">
                    <div class="col">
                        <div class="card apuracaoSemanal @(apuracaoSemanal.TempoPeriodo.Atual ? "text-bg-dark" : "text-bg-secondary")">
                            <div class="card-header">
                                Semana
                            </div>
                            <div class="card-body">
                                <h4 class="card-title d-flex justify-content-center lh-lg">
                                    #@(apuracaoSemanal.NumeroSemana + 1)
                                </h4>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-start @(apuracaoSemanal.TempoPeriodo.Atual ? "text-bg-dark" : "text-bg-secondary")">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold d-none d-lg-inline" title="Apuração">
                                            Ap.
                                        </div>
                                        <div class="fw-bold d-inline d-lg-none">
                                            Apuração
                                        </div>
                                    </div>
                                    @if (apuracaoSemanal.TempoPeriodo.Futuro)
                                    {
                                        <span class="badge rounded-pill text-bg-secondary">
                                            @String.Format(new TimeSpanFormatter(), "{0:hhh\\:mm}", apuracaoSemanal.TempoTotalApurado)
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="badge rounded-pill text-bg-primary">
                                            @String.Format(new TimeSpanFormatter(), "{0:hhh\\:mm}", apuracaoSemanal.TempoTotalApurado)
                                        </span>
                                    }
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start @(apuracaoSemanal.TempoPeriodo.Atual ? "text-bg-dark" : "text-bg-secondary")">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold d-none d-lg-inline" title="Diferença">
                                            Dif.
                                        </div>
                                        <div class="fw-bold d-inline d-lg-none">
                                            Diferença
                                        </div>
                                    </div>
                                    @if (apuracaoSemanal.TempoPeriodo.Futuro)
                                    {
                                        <span class="badge rounded-pill text-bg-secondary">
                                            @String.Format(new TimeSpanFormatter(), "{0:hhh\\:mm}", apuracaoSemanal.DiferencaTempoTotal)
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="badge rounded-pill @(apuracaoSemanal.DiferencaTempoTotal >= TimeSpan.Zero ? "text-bg-success" : "text-bg-danger")">
                                            @String.Format(new TimeSpanFormatter(), "{0:hhh\\:mm}", apuracaoSemanal.DiferencaTempoTotal)
                                        </span>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>

                    @for (int diaSemanaIndex = 0; diaSemanaIndex < 7; diaSemanaIndex++)
                    {
                        var diaIndex = (semanaIndex * 7) + diaSemanaIndex;

                        if (diaIndex < (int)Model.ApuracaoMensal.PrimeiroDiaSemanaMes)
                        {
                            <div class="col d-none d-lg-inline">
                            </div>
                        }
                        else if (diaIndex < Model.ApuracaoMensal.TotalDias + (int)Model.ApuracaoMensal.PrimeiroDiaSemanaMes)
                        {
                            var apuracaoDiaria = Model.ApuracaoMensal.Dias[diaIndex - (int)Model.ApuracaoMensal.PrimeiroDiaSemanaMes];

                            <div class="col">
                                <div class="card apuracaoDiaria @(apuracaoDiaria.TempoPeriodo.Atual ? "border border-primary" : "") @(apuracaoDiaria.TempoPrevisto == TimeSpan.Zero ? "text-bg-secondary opacity-50" : "")" data-dia="@apuracaoDiaria.Dia">
                                    <div class="card-header">
                                        @apuracaoDiaria.DescricaoDia
                                    </div>
                                    <div class="card-body">
                                        <h1 class="card-title d-flex justify-content-center">
                                            @apuracaoDiaria.Dia
                                        </h1>
                                        <div class="card-text d-flex justify-content-center">
                                            @if (apuracaoDiaria.Hoje)
                                            {
                                                <span class="badge text-bg-primary">Hoje</span>
                                            }
                                            @if (apuracaoDiaria.Feriado)
                                            {
                                                <span class="badge text-bg-info">Feriado</span>
                                            }
                                        </div>
                                    </div>
                                    @if (apuracaoDiaria.TempoPrevisto != TimeSpan.Zero || apuracaoDiaria.TempoApurado != TimeSpan.Zero)
                                    {
                                        <ol class="list-group list-group-flush">
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto">
                                                    <div class="fw-bold d-none d-lg-inline" title="Apuração">
                                                        Ap.
                                                    </div>
                                                    <div class="fw-bold d-inline d-lg-none">
                                                        Apuração
                                                    </div>
                                                </div>
                                                @if (apuracaoDiaria.TempoPeriodo.Futuro)
                                                {
                                                    <span class="badge text-bg-secondary rounded-pill TempoApurado">
                                                        @apuracaoDiaria.TempoApurado.ToString("hh\\:mm")
                                                    </span>
                                                }
                                                else if (apuracaoDiaria.TempoApuradoIdeterminado)
                                                {
                                                    <span class="badge text-bg-warning rounded-pill TempoApurado">
                                                        @apuracaoDiaria.TempoApurado.ToString("hh\\:mm")
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="badge rounded-pill bg-primary TempoApurado">
                                                        @apuracaoDiaria.TempoApurado.ToString("hh\\:mm")
                                                    </span>
                                                }
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto">
                                                    <div class="fw-bold d-none d-lg-inline" title="Diferença">
                                                        Dif.
                                                    </div>
                                                    <div class="fw-bold d-inline d-lg-none">
                                                        Diferença
                                                    </div>
                                                </div>
                                                @if (apuracaoDiaria.TempoPeriodo.Futuro)
                                                {
                                                    <span class="badge text-bg-secondary rounded-pill">
                                                        @apuracaoDiaria.DiferencaTempo.ToString("hh\\:mm")
                                                    </span>
                                                }
                                                else
                                                {
                                                    if (apuracaoDiaria.DiferencaTempo >= TimeSpan.Zero)
                                                    {
                                                        <span class="badge text-bg-success rounded-pill">
                                                            @apuracaoDiaria.DiferencaTempo.ToString("hh\\:mm")
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge text-bg-danger rounded-pill">
                                                            @apuracaoDiaria.DiferencaTempo.ToString("hh\\:mm")
                                                        </span>
                                                    }
                                                }
                                            </li>
                                            @if (apuracaoDiaria.TempoAbonado != TimeSpan.Zero)
                                            {
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold d-none d-lg-inline" title="Abonado">
                                                            Ab.
                                                        </div>
                                                        <div class="fw-bold d-inline d-lg-none">
                                                            Abonado
                                                        </div>
                                                    </div>
                                                    @if (apuracaoDiaria.TempoPeriodo.Futuro)
                                                    {
                                                        <span class="badge text-bg-secondary rounded-pill">
                                                            @apuracaoDiaria.TempoAbonado.ToString("hh\\:mm")
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge rounded-pill text-bg-info">
                                                            @apuracaoDiaria.TempoAbonado.ToString("hh\\:mm")
                                                        </span>
                                                    }
                                                </li>
                                            }
                                        </ol>
                                    }
                                    @if (apuracaoDiaria.Pontos.Length > 0)
                                    {
                                        <div class="card-header">
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            @foreach (var ponto in apuracaoDiaria.Pontos)
                                            {
                                                <li class="list-group-item">
                                                    @if (ponto.MomentoId == Pontos.MomentoEnum.Entrada)
                                                    {
                                                        <span class="text-success">
                                                            <i class="bi bi-box-arrow-in-down-right"></i>
                                                        </span>
                                                    }
                                                    else if (ponto.MomentoId == Pontos.MomentoEnum.Saida)
                                                    {
                                                        <span class="text-danger">
                                                            <i class="bi bi-box-arrow-up-left"></i>
                                                        </span>
                                                    }
                                                    <a asp-page="/Pontos/Detalhar" asp-route-id="@ponto.Id" title="Detalhar Ponto">@ponto.DataHora.Value.ToString("HH:mm")</a>
                                                    @if (ponto.PausaId == Pontos.PausaEnum.Almoco)
                                                    {
                                                        <span>
                                                            <i class="bi bi-egg-fried"></i>
                                                        </span>
                                                    }
                                                    else if (ponto.PausaId == Pontos.PausaEnum.CafeLanche)
                                                    {
                                                        <span>
                                                            <i class="bi bi-cup-hot"></i>
                                                        </span>
                                                    }
                                                    else if (ponto.PausaId == Pontos.PausaEnum.Banheiro)
                                                    {
                                                        <span>
                                                            <i class="bi bi-badge-wc"></i>
                                                        </span>
                                                    }
                                                    else if (ponto.PausaId == Pontos.PausaEnum.ConversaReuniao)
                                                    {
                                                        <span>
                                                            <i class="bi bi-chat"></i>
                                                        </span>
                                                    }
                                                    else if (ponto.PausaId == Pontos.PausaEnum.Telefonema)
                                                    {
                                                        <span>
                                                            <i class="bi bi-telephone"></i>
                                                        </span>
                                                    }
                                                    else if (ponto.PausaId == Pontos.PausaEnum.Generica)
                                                    {
                                                        <span>
                                                            <i class="bi bi-pause-fill"></i>
                                                        </span>
                                                    }
                                                    @if (ponto.Observacao != null)
                                                    {
                                                        <div class="oneline-text">@ponto.Observacao</div>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col d-none d-lg-inline">
                            </div>
                        }
                    }
                </div>
            }
        }
    }
    else
    {
        <div class="d-grid gap-2 col-sm-10 col-md-8 col-lg-6 mx-auto mb-3">
            <a class="btn btn-primary btn-lg criacao perfil" asp-page="/Perfis/Criar" target="_modal">
                <i class="bi bi-plus-circle"></i>
                Criar Novo Perfil
            </a>
        </div>

        <div class="alert alert-warning mb-3" role="alert">
            Você não tem nenhum perfil cadastrado.
        </div>

        <div class="alert alert-info" role="alert">
            Crie um novo perfil para saber o tempo total previsto de trabalho na sua folha de ponto.
        </div>
    }
}
else
{
    <div>
        <div class="px-4 my-5 text-center">
            <h1 class="display-4 fw-bold">Conheça seu tempo</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Se você não tem acesso regular a sua folha de ponto ou deseja fazer um controle independente da sua jornada de trabalho pra saber se está trabalhando mais ou menos que o tempo previsto então saiba que esse sistema foi feito pra você.</p>
                @*<div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" asp-page="/Pontos/Index">Registro de Pontos</a>
            <a class="btn btn-outline-secondary btn-lg px-4" asp-page="/Perfis/Index">Cadastro de Perfis</a>
            </div>*@
            </div>
            <div class="container px-5">
                <img src="~/img/apuracao-folha.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Apuração de Folha" width="800" height="500" loading="lazy">
            </div>
        </div>

        <div class="px-4 my-5">
            <h2 class="pb-2 border-bottom">Apuração de Folha</h2>

            <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
                <div class="d-flex flex-column align-items-start gap-2">
                    <h3 class="fw-bold">Saiba se você está trabalhando mais ou menos que o tempo previsto</h3>
                    <p class="text-muted">O backup de comprovantes ou o registro independente de pontos permitem que uma folha de ponto seja apurada por você a qualquer momento.</p>
                    <a href="https://github.com/mardsystems/MeuPonto/wiki/Features#gest%C3%A3o-de-folhas" target="_blank" class="btn btn-primary btn-lg" title="Documentação">Saiba mais</a>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 g-4">
                    <div class="d-flex flex-column gap-2">
                        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                            <i class="bi bi-collection"></i>
                        </div>
                        <h4 class="fw-semibold mb-0">Resumo diário, semanal e mensal</h4>
                        <p class="text-muted">Tenha sempre o tempo previsto e apurado com a difereça total sempre a mão.</p>
                    </div>

                    <div class="d-flex flex-column gap-2">
                        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                            <i class="bi bi-lightbulb"></i>
                        </div>
                        <h4 class="fw-semibold mb-0">Totais inteligentes</h4>
                        <p class="text-muted">Identificamos todas as inconsistências dos registros de ponto pra você.</p>
                    </div>

                    <div class="d-flex flex-column gap-2">
                        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                            <i class="bi bi-people"></i>
                        </div>
                        <h4 class="fw-semibold mb-0">Separado por perfil</h4>
                        <p class="text-muted">Tenha um perfil pra cada contrato ou relação de trabalho que você tiver.</p>
                    </div>

                    <div class="d-flex flex-column gap-2">
                        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                            <i class="bi bi-file-earmark-lock-fill"></i>
                        </div>
                        <h4 class="fw-semibold mb-0">Proteção contra alterações</h4>
                        <p class="text-muted">Apurações salvas com seguraça e protegida quando fechada.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="px-4 my-5">
            <h2 class="pb-2 border-bottom">A quem se destina</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="col d-flex align-items-start">
                    <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                        <i class="bi bi-building"></i>
                    </div>
                    <div>
                        <h3 class="fs-2">Trabalhadores de empresas</h3>
                        <p>Funcionários de empresas, estagiários e todos os trabalhadores que prestam serviço para uma pessoa jurídica.</p>
                        <a href="https://github.com/mardsystems/MeuPonto/wiki/Personas#marcelo" target="_blank" class="btn btn-primary">
                            Persona Marcelo
                        </a>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                        <i class="bi bi-house-door"></i>
                    </div>
                    <div>
                        <h3 class="fs-2">Trabalhadores domésticos</h3>
                        <p>Empregadas domésticas, motoristas e todos os trabalhadores que prestam serviço para uma pessoa física.</p>
                        <a href="https://github.com/mardsystems/MeuPonto/wiki/Personas#maria" target="_blank" class="btn btn-primary">
                            Persona Maria
                        </a>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                        <i class="bi bi-car-front"></i>
                    </div>
                    <div>
                        <h3 class="fs-2">Trabalhadores autônomos</h3>
                        <p>Motoristas de aplicativo, taxistas e todos os trabalhadores que não estão subordinados a ninguém.</p>
                        <a href="https://github.com/mardsystems/MeuPonto/wiki/Personas#julio" target="_blank" class="btn btn-primary">
                            Persona Julio
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="check" viewBox="0 0 16 16">
                <title>Check</title>
                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
            </symbol>
        </svg>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Preço</h1>
            <p class="fs-5 text-body-secondary">Não deixe pra depois. Crie agora mesmo sua conta gratuitamente e troque de plano quando achar necessário.</p>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">
                            Bronze
                            <span class="badge rounded-pill" style="color: #cd7f32;">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                            </span>
                        </h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">R$ 0<small class="text-body-secondary fw-light">/mês</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>1 perfil</li>
                            <li>2 GB de armazenamento/ano</li>
                            <li>Suporte por email</li>
                            <li>Ajuda online</li>
                        </ul>
                        <a class="w-100 btn btn-lg btn-outline-primary" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Crie uma conta gratuita</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">
                            Prata
                            <span class="badge rounded-pill" style="color: #c0c0c0;">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>
                            </span>
                        </h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">R$ 1,99<small class="text-body-secondary fw-light">/mês</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Até 10 perfis</li>
                            <li>10 GB de armazenamento/ano</li>
                            <li>Suporte prioritário por email</li>
                            <li>Ajuda online</li>
                        </ul>
                        <a class="w-100 btn btn-lg btn-primary" href="mailto:mardsystems@gmail.com?subject=Quero um Plano Prata" target="_blank">Fale conosco</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3 text-bg-primary border-primary">
                        <h4 class="my-0 fw-normal">
                            Ouro
                            <span class="badge rounded-pill" style="color: #ffd700;">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </span>
                        </h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">R$ 4,99<small class="text-body-secondary fw-light">/mês</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Perfis ilimitados</li>
                            <li>20 GB de armazenamento/ano</li>
                            <li>Suporte por telefone e email</li>
                            <li>Ajuda online</li>
                        </ul>
                        <a class="w-100 btn btn-lg btn-primary" href="mailto:mardsystems@gmail.com?subject=Quero um Plano Ouro" target="_blank" disabled>Em breve</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="display-6 text-center mb-4">Compare os planos</h2>

        <div class="table-responsive">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th style="width: 34%;"></th>
                        <th style="width: 22%;">Bronze</th>
                        <th style="width: 22%;">Prata</th>
                        <th style="width: 22%;">Ouro</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="text-start">Apuração de Folha</th>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Backup de Comprovantes</th>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <th scope="row" class="text-start">Registro de Pontos</th>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Cadastro de Perfis</th>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Cadastro de Empregadores</th>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Sem Anúncios</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    </tr>
                </tbody>

                <tbody class="opacity-50">
                    <tr>
                        <th scope="row" class="text-start">App Offline (Em breve)</th>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">App Online (Em breve)</th>
                        <td></td>
                        <td></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
