@page
@model MeuPonto.Modules.Perfis.IndexModel

@{
    ViewData["Title"] = "Perfis";
}

<h1>Perfis</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Perfil[0].Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil[0].Pis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil[0].Empresa.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil[0].Empresa.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil[0].Empresa.InscricaoEstadual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil[0].Empresa.Endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Perfil)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.Cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.InscricaoEstadual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.Endereco)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
