@page
@model MeuPonto.Modules.Pontos.Folhas.CriarModel

@{
    ViewData["Title"] = "Criar Folha de Ponto";
}

@section Breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index"><i class="bi bi-house"></i></a></li>
            <li class="breadcrumb-item"><a asp-page="/Pontos/Index">Pontos</a></li>
            <li class="breadcrumb-item"><a asp-page="./Index">Folhas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Criar</li>
        </ol>
    </nav>
}

@section Title {
    @ViewData["Title"] <span class="badge bg-secondary">Nova</span>
}

@section CardHeader {
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page">
                <i class="bi bi-plus-circle"></i>
                Criar Nova
            </a>
        </li>
    </ul>
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row mb-3">
    <label asp-for="Folha.PerfilId" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <select asp-for="Folha.PerfilId" class="form-select" asp-items="ViewBag.PerfilId"></select>
        <span asp-validation-for="Folha.PerfilId" class="text-danger"></span>
    </div>
</div>
<div class="row mb-3">
    <label asp-for="Folha.Competencia" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <div class="input-group">
            <input asp-for="Folha.Competencia" class="form-control" type="month" />
            <button class="btn btn-outline-secondary" name="command" value="ConfirmarCompetencia">Confirmar</button>
        </div>
        <span asp-validation-for="Folha.Competencia" class="text-danger"></span>
    </div>
</div>
<div class="row mb-3">
    <label asp-for="Folha.StatusId" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <select asp-for="Folha.StatusId" class="form-select" asp-items="Html.GetEnumSelectList<StatusEnum>()"></select>
        <input asp-for="Folha.StatusId" type="hidden" />
    </div>
</div>
<div class="row mb-3">
    <label asp-for="Folha.Observacao" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <textarea asp-for="Folha.Observacao" class="form-control"></textarea>
        <span asp-validation-for="Folha.Observacao" class="text-danger"></span>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        @Html.DisplayNameFor(model => model.Folha.ApuracaoMensal)
    </div>
    <div class="card-body">
        @if (Model.Folha.ApuracaoMensal.Dias.Count > 0)
        {
            <div class="accordion mb-3" id="accordionApuracaoMensal">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDias" aria-expanded="true" aria-controls="collapseDias">
                            @Html.DisplayNameFor(model => model.Folha.ApuracaoMensal.Dias)
                        </button>
                    </h2>
                    <div id="collapseDias" class="accordion-collapse collapse show" data-bs-parent="#accordionApuracaoMensal">
                        <div class="accordion-body">
                            @for (int i = 0; i < Model.Folha.ApuracaoMensal.Dias.Count; i++)
                            {
                                <input asp-for="Folha.ApuracaoMensal.Dias[i].Dia" type="hidden" />
                                <div class="card mb-3">
                                    <div class="card-header">
                                        Dia @(Model.Folha.ApuracaoMensal.Dias[i].Dia)
                                    </div>
                                    <div class="card-body">
                                        <div class="row mb-3">
                                            <label asp-for="Folha.ApuracaoMensal.Dias[i].TempoPrevisto" class="col-sm-7 col-lg-5 col-form-label"></label>
                                            <div class="col-sm-4">
                                                <input asp-for="Folha.ApuracaoMensal.Dias[i].TempoPrevisto" class="form-control" />
                                                <span asp-validation-for="Folha.ApuracaoMensal.Dias[i].TempoPrevisto" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label asp-for="Folha.ApuracaoMensal.Dias[i].TempoApurado" class="col-sm-7 col-lg-5 col-form-label"></label>
                                            <div class="col-sm-4">
                                                <input asp-for="Folha.ApuracaoMensal.Dias[i].TempoApurado" class="form-control" />
                                                <span asp-validation-for="Folha.ApuracaoMensal.Dias[i].TempoApurado" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label asp-for="Folha.ApuracaoMensal.Dias[i].DiferencaTempo" class="col-sm-7 col-lg-5 col-form-label"></label>
                                            <div class="col-sm-4">
                                                <input asp-for="Folha.ApuracaoMensal.Dias[i].DiferencaTempo" class="form-control" />
                                                <span asp-validation-for="Folha.ApuracaoMensal.Dias[i].DiferencaTempo" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label asp-for="Folha.ApuracaoMensal.Dias[i].TempoAbonado" class="col-sm-7 col-lg-5 col-form-label"></label>
                                            <div class="col-sm-4">
                                                <input asp-for="Folha.ApuracaoMensal.Dias[i].TempoAbonado" class="form-control" />
                                                <span asp-validation-for="Folha.ApuracaoMensal.Dias[i].TempoAbonado" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-4 offset-sm-7 offset-lg-5">
                                                <div class="form-check">
                                                    <input type="checkbox" asp-for="Folha.ApuracaoMensal.Dias[i].Feriado" class="form-check-input" />
                                                    <label asp-for="Folha.ApuracaoMensal.Dias[i].Feriado" class="form-check-label"></label>
                                                </div>
                                                <span asp-validation-for="Folha.ApuracaoMensal.Dias[i].Feriado" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 offset-sm-7 offset-lg-5">
                                                <div class="form-check">
                                                    <input type="checkbox" asp-for="Folha.ApuracaoMensal.Dias[i].Falta" class="form-check-input" />
                                                    <label asp-for="Folha.ApuracaoMensal.Dias[i].Falta" class="form-check-label"></label>
                                                </div>
                                                <span asp-validation-for="Folha.ApuracaoMensal.Dias[i].Falta" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-warning mb-3" role="alert">
                Confirme a competência para visualizar os dias do mês.
            </div>
        }
        <button value="Totalizar" class="btn btn-secondary">
            <i class="bi bi-save"></i>
            Totalizar
        </button>
        <div class="row mb-3">
            <label asp-for="Folha.ApuracaoMensal.TotalDias" class="col-sm-8 col-lg-5 col-form-label"></label>
            <div class="col-sm-4 col-lg-7">
                <input asp-for="Folha.ApuracaoMensal.TotalDias" class="form-control" disabled />
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Folha.ApuracaoMensal.TempoTotalPrevisto" class="col-sm-8 col-lg-5 col-form-label"></label>
            <div class="col-sm-4 col-lg-7">
                <input value="@String.Format(new TimeSpanFormatter(), "{0:hhh\\:mm}", Model.Folha.ApuracaoMensal.TempoTotalPrevisto)" class="form-control" disabled />
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Folha.ApuracaoMensal.TempoTotalApurado" class="col-sm-8 col-lg-5 col-form-label"></label>
            <div class="col-sm-4 col-lg-7">
                <input value="@String.Format(new TimeSpanFormatter(), "{0:hhh\\:mm}", Model.Folha.ApuracaoMensal.TempoTotalApurado)" class="form-control" disabled />
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Folha.ApuracaoMensal.DiferencaTempoTotal" class="col-sm-8 col-lg-5 col-form-label"></label>
            <div class="col-sm-4 col-lg-7">
                <input value="@String.Format(new TimeSpanFormatter(), "{0:hhh\\:mm}", Model.Folha.ApuracaoMensal.DiferencaTempoTotal)" class="form-control" disabled />
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Folha.ApuracaoMensal.TempoTotalPeriodoAnterior" class="col-sm-8 col-lg-5 col-form-label"></label>
            <div class="col-sm-4 col-lg-7">
                <input value="@String.Format(new TimeSpanFormatter(), "{0:hhh\\:mm}", Model.Folha.ApuracaoMensal.TempoTotalPeriodoAnterior)" class="form-control" disabled />
            </div>
        </div>
    </div>
</div>

@section FormActions {
    <input type="hidden" asp-for="Folha.Competencia" />
    <input type="hidden" asp-for="RefererUrl" />
    <button type="submit" value="Salvar" class="btn btn-primary">
        Salvar
    </button>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
